@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

body
{
	margin:0;
	padding:0;
	font-family:"Open Sans", Helvetica, Arial;
}
/*
	Helpers
*/
.pull-right
{
	float:right;
}
.pull-left
{
	float:left
}
.clearfix
{
	clear:both;
}
.text-center
{
	text-align:center !important;
}
.border-none
{
	border:none !important;
}
/*
	General Elements
*/
a
{
	text-decoration:none;
	color:#fff;
}
.ls_container
{
	width:1060px;
	margin:0 auto;
	padding:20px 0;
}
.ls-btn
{
	background:#f7f7f7;
	border:1px solid #bababa;
	color:#444;
	padding:10px 25px;
	border-radius:2px;
	box-shadow:0 1px 0 #fff inset;
}
.ls-btn-green
{
	border:1px solid #389c2a;
	color:#fff;
	box-shadow:0 1px 0 #bbf7be inset;
	background: #35f03e;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#35f03e), color-stop(100%,#1ec826));
	background-image: -webkit-linear-gradient(top, #35f03e 0%,#1ec826 100%);
	background-image: -moz-linear-gradient(top, #35f03e 0%, #1ec826 100%);
	background-image: -o-linear-gradient(top, #35f03e 0%,#1ec826 100%);
	background-image: -ms-linear-gradient(top, #35f03e 0%,#1ec826 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35f03e', endColorstr='#1ec826',GradientType=0 );
	background-image: linear-gradient(top, #35f03e 0%,#1ec826 100%);
	text-shadow: 0 1px 0 rgba(0,0,0,0.4);
	margin-top:40px;
	display:inline-block;
	width:auto;
}
.ls-btn-blue 
{
	border:1px solid #065576;
	color:#fff;
	box-shadow:0 1px 0 #6db3ef inset;
	background: #2595f5;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2595f5), color-stop(100%,#277cc5));
	background-image: -webkit-linear-gradient(top, #2595f5 0%,#277cc5 100%);
	background-image: -moz-linear-gradient(top, #2595f5 0%, #277cc5 100%);
	background-image: -o-linear-gradient(top, #2595f5 0%,#277cc5 100%);
	background-image: -ms-linear-gradient(top, #2595f5 0%,#277cc5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2595f5', endColorstr='#277cc5',GradientType=0 );
	background-image: linear-gradient(top, #2595f5 0%,#277cc5 100%);
	text-shadow: 0 1px 0 rgba(0,0,0,0.4);
	margin-top:40px;
	display:inline-block;
	width:auto;
	margin-left:50px;
}
/*
	Header
*/
header
{
	background:rgba(0,0,0,0.8);
}
header nav
{

}
header nav ul
{
	list-style:none;
	margin:0;
}
nav ul li
{
	float:left;
}
nav ul li a
{
	padding: 20px 15px 17px;
}
nav ul li a:hover
{
	border-bottom:3px solid #36adf2;
	background:rgba(0,0,0,0.9);
}
/*
	Hero
*/
.ls_hero 
{
	width:100%;
	background:#5abdf6;
	height:380px;
	padding:20px 0;
}
.ls_hero .ls_video
{
	width:520px;
}
.ls_hero .ls_text
{
	width:450px;
	font-size:16px;
}
.ls_hero .ls_text p
{
	color:#fff;
	text-shadow:0 1px 1px rgba(0,0,0,0.3);
}
.ls_hero h1
{
	padding:0;
	margin:0;
	color:#fff;
	text-shadow:0 1px 1px rgba(0,0,0,0.4);
	font-weight:600;
	font-size:42px;
}
.ls_hero h1 span
{
	font-weight:300;
}
/*
	Ls_sections
*/
.ls_descriptions
{
	color:#777;
	display:block;
	clear:both;
	padding:40px 0px;
	border-bottom:1px solid #cecece;
}
.ls_descriptions h1
{
	font-weight:100;
	font-size:28px;
	padding:15px 0 0;
	margin:0;
	color:#555;
}
.ls_descriptions article
{
	width:700px;
}
.ls_descriptions .ls_text
{
	font-size:14px;
}
.ls_descriptions:last-child
{
	border:none;
}
/*
	Features
*/	
.ls_features
{
	background:#eee;
}
.ls_features h1
{
	color:#111;
	font-weight:100;
}
.ls_features h1 span
{
	color:#444;
}
/*
	Footer
*/
footer
{
	background:rgba(0,0,0,0.83);
	color:#fff;
}
/*
	Pricing
*/
.ls_pricing
{
	margin-bottom:100px;
}
.ls_pricing .ls_container
{
	padding:0;
	width:860px;
}
.ls_pricing .ls_container h1
{
	font-weight:100;
	margin-bottom:60px;
}
.ls_pricing section
{
	float:left;
}
.ls_pricing_features
{
	background:#f9f9f9;
	border:1px solid #bababa;
	border-top:none;
	border-left:none;
}
.ls_pricing_features div
{
	border-bottom:1px solid #bababa;
	border-left:1px solid #bababa;
	padding:15px 25px;
	box-shadow:0 1px 0 #ffffff inset;
	color:#333333;
}
.ls_pricing_features div:last-child
{
	border-bottom:none;
}
.ls_pricing_features div:nth-child(2n)
{
	background:#f1f1f1;
}
.ls_pricing_features div:first-child
{
	margin-top:62px;
	border-top:1px solid #bababa;
}
.ls_pricing_prices
{
	border:1px solid #bababa;
}
.ls_pricing_prices
{
	border-left:0px solid #bababa;
}
.ls_pricing_prices div
{
	padding:15px 80px;
	background:#f1f1f1;
	box-shadow:0 1px 0 #ffffff inset;
	border-bottom:1px solid #bababa;
	text-align:center;
}
.ls_pricing_prices div span
{
	font-size:18px;
	font-weight:100;
}
.ls_pricing_prices:nth-child(2n+1) div:nth-child(2n+1)
{
	background:#fff;
}
.ls_pricing_prices:nth-child(2n) div:nth-child(2n)
{
	background:#fff;
}
.ls_pricing_prices div:last-child
{
	padding:11px 62px;
	border-bottom:none;
}
.ls_pricing .ls_price
{
	color:#ee2233;
	font-weight:600;
	font-size:22px;
}
.ls_plan_names
{
	color:#1475a7;
	font-size:22px;
}
.ls_signup
{
	float:right;
}
.ls_signup div
{
	background: #ffffff;
	color: #333333;
	display: inline-table;
	float: left;
	margin: 0;
	padding: 11px 53px;
	position: relative;
	text-align: center;
	width: 53px;
	border:1px solid #bababa;
	border-left:none;
	border-top:none;
}
.ls_signup div:first-child
{
	border-left:1px solid #bababa;
}
.ls_signup div:last-child
{
	margin-right:1px;
}
.ls_signup div a
{
	background:#27a5e7;
	display:block;
	padding:10px 22px;
	border:1px solid #197db1;
	border-radius:2px;
	box-shadow:0 1px 0 #5bb8e8 inset;
	font-size:19px;
}